.header {
    width: 100%;
    height: 100px;
    background-color: rgb(191, 173, 136);
    margin-bottom: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.header img{
    height: 60px;
}

.header-title {
    font-family: 'Noto Sans', Roboto;
    font-weight: 500;
    font-size: 30px;
}