.indicator {
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center
}

.indicator img{
    width: 250px;
    height: 250px;
    margin: 20px;

}

.indicator-text {
    
}